.body-active {
    background: linear-gradient(to left bottom, #A1CFE4, #DFC388);
}
.main-active {
    margin-right: 620px;
}
.inner-active {
    background: linear-gradient(to left bottom, #A1CFE4, #DFC388);
    border: 2px solid white;
}
