<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>blog demo</title>
        <link rel="stylesheet" href="/css/body.css" charset="utf-8">
        <link rel="stylesheet" href="/css/animations.css" charset="utf-8">
        <link rel="stylesheet" href="/css/header.css" charset="utf-8">
        <link rel="stylesheet" href="/css/section.css" charset="utf-8">
        <link rel="stylesheet" href="/css/footer.css" charset="utf-8">
        <link rel="stylesheet" href="/css/aside.css" charset="utf-8">
        <link rel="stylesheet" href="/css/publish.css" charset="utf-8">
        <link rel="stylesheet" href="/css/article.css" charset="utf-8">
        <link rel="stylesheet" href="/css/hover.css" charset="utf-8">
        <link rel="stylesheet" href="/css/list.css" charset="utf-8">
        <!-- lodash -->
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
    </head>
    <body data-id="{{blog_id}}">
        <!-- blogInfo -->
        <main>
            <div class="inner">
                <!-- 包含 logo nav -->
                <header>
                    <div class="blog-header">
                        <div class="blog-logo">
                            <div class="loader-outter"></div>
                            <div class="loader-inner"></div>
                            <p class="logo-text">写生簿</p>
                        </div>
                        <nav>
                            <ul>
                                <li>
                                    <a href="/"  class="nav-a">
                                        <img id="home" src="/icon/blog/homepage.png"/>
                                        首页
                                    </a>
                                </li>
                                <li>
                                    <a href="/blog/category"  class="nav-a">
                                        <img id="cate" src="/icon/blog/category.png"/>
                                        分类
                                    </a>
                                </li>
                                <li>
                                    <a href="/blog/publish" class="nav-a dis-none" id="publish">
                                        <img src="/icon/blog/publish.png"/>
                                        发布
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-a" id="person">
                                        <img src="/icon/blog/person.png"/>
                                        Author
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="login-div dis-none">
                            <span>用户</span>
                            <input id="login-name">
                            <br>
                            <span>密码</span>
                            <input id="login-pw">
                            <button id="login-submit" class="login-submit">submit</button>
                        </div>
                    </div>
                </header>
                <!-- 包含 blog 正文 -->
                <section>
                    <!-- 来必力City版安装代码 -->
                    <div id="lv-container" data-id="city" data-uid="MTAyMC8zMjUxNS85MDc2">
                    <script type="text/javascript">
                        (function(d, s) {
                           var j, e = d.getElementsByTagName(s)[0]
                           if (typeof LivereTower === 'function') {
                               return
                           }
                           j = d.createElement(s)
                           j.src = 'https://cdn-city.livere.com/js/embed.dist.js'
                           j.async = true
                           e.parentNode.insertBefore(j, e)
                       })(document, 'script')
                    </script>
                    <noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
                    </div>
                    <!-- City版安装代码已完成 -->
                </section>
                <!-- 包含 developDate update 开发者 user flow -->
                <footer class="foot">
                </footer>
            </div>
        </main>
        <!-- 包含 userInfo -->
        <aside>
            <div class="aside-inner">
                <div class="aside-logo">
                    <img src="/img/userLogo.jpg" id="aside-logo-img"/>
                </div>
                <div class="aside-info">
                    <div class="center">
                        <div class="info-item" id="info-arct"></div>
                        <span>|</span>
                        <div class="info-item" id="info-view">
                            <a>
                                6
                                <br>
                                相册
                            </a>
                        </div>
                    </div>
                </div>
                <div class="aside-about">
                    <div class="center">
                        <a class="about-info" id="about-git">
                            <img id="git" src="/icon/blog/git.png"/>
                            GitHub
                        </a>
                        <a class="about-info" id="about-mail">
                            <img id="mail" src="/icon/blog/mail.png"/>
                            Mail
                        </a>
                    </div>
                    <a class="about-info" id="about-me">
                        <img id="introduce" src="/icon/blog/introduce.png"/>
                        About Me
                    </a>
                </div>
            </div>
        </aside>
        <script src="/js/tools.js"></script>
        <script src="/js/article.js"></script>
        <script src="/js/aside.js"></script>
        <script src="/js/person.js"></script>
        <!-- canvas 动画 -->
        <script src="/js/canvas.js"></script>
    </body>
</html>
