<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>blog demo</title>
        <!-- title logo -->
        <link rel="shortcut icon" href="/img/userLogo.jpg">
        <!-- CSS 博客 -->
        <link rel="stylesheet" href="/css/body.css" charset="utf-8">
        <link rel="stylesheet" href="/css/animations.css" charset="utf-8">
        <link rel="stylesheet" href="/css/header.css" charset="utf-8">
        <link rel="stylesheet" href="/css/section.css" charset="utf-8">
        <link rel="stylesheet" href="/css/footer.css" charset="utf-8">
        <link rel="stylesheet" href="/css/aside.css" charset="utf-8">
        <link rel="stylesheet" href="/css/hover.css" charset="utf-8">
        <link rel="stylesheet" href="/css/list.css" charset="utf-8">
        <!-- CSS audio -->
        <link rel="stylesheet" href="/css/music/audio-body.css">
        <link rel="stylesheet" href="/css/music/audio-control.css">
        <link rel="stylesheet" href="/css/music/audio-progress.css">
        <link rel="stylesheet" href="/css/music/audio-img.css">
        <link rel="stylesheet" href="/css/music/audio-info.css">
        <link rel="stylesheet" href="/css/music/audio-other.css">
        <!-- Lodash -->
        <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
        <!-- jQuery -->
        <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.js"></script>
    </head>
    <body>
        <!-- blogInfo -->
        <main>
            <div class="inner">
                <!-- 包含 logo nav -->
                <header>
                    <div class="blog-header">
                        <div class="blog-logo">
                            <div class="loader-outter"></div>
                            <div class="loader-inner"></div>
                            <p class="logo-text">写生簿</p>
                        </div>
                        <nav>
                            <ul>
                                <li>
                                    <a href="/" class="nav-a">
                                        <img id="home" src="/icon/blog/homepageRed.png"/>
                                        首页
                                    </a>
                                </li>
                                <li>
                                    <a href="/blog/category" class="nav-a">
                                        <img id="cate" src="/icon/blog/category.png"/>
                                        分类
                                    </a>
                                </li>
                                <li>
                                    <a href="/blog/publish" class="nav-a dis-none" id="publish">
                                        <img src="/icon/blog/publish.png"/>
                                        发布
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-a" id="person">
                                        <img src="/icon/blog/person.png"/>
                                        Author
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="login-div dis-none">
                            <span>用户</span>
                            <input id="login-name">
                            <br>
                            <span>密码</span>
                            <input id="login-pw">
                            <button id="login-submit" class="login-submit">submit</button>
                        </div>
                    </div>
                </header>
                <!-- 包含 blog 正文 -->
                <section>

                </section>
                <!-- 包含 developDate update 开发者 user flow -->
                <footer class="foot">
                </footer>
            </div>
        </main>
        <!-- 包含 userInfo -->
        <aside>
            <div class="aside-inner">
                <div class="aside-logo">
                    <img src="/img/userLogo.jpg" id="aside-logo-img"/>
                </div>
                <div class="aside-info">
                    <div class="center">
                        <div class="info-item" id="info-arct">
                        </div>
                        <span>|</span>
                        <div class="info-item" id="info-view">
                        </div>
                    </div>
                </div>
                <div class="aside-about">
                    <div class="center">
                        <a class="about-info" id="about-git" href="https://github.com/Crayoncyann/Crayoncyann.github.io.git" target="_blank">
                            <img id="git" src="/icon/blog/git.png"/>
                            GitHub
                        </a>
                        <a class="about-info" id="about-mail" onclick="alert('lvgj_sunshine@163.com 欢迎fork，有更好的想法请联络我')">
                            <img id="mail" src="/icon/blog/mail.png"/>
                            Mail
                        </a>
                    </div>
                    <a class="about-info" id="about-me">
                        <img id="introduce" src="/icon/blog/introduce.png"/>
                        About Me
                    </a>
                </div>
                <div class="goto-top">
                    <img src="/icon/blog/goto.png">
                </div>
            </div>
        </aside>
        <!-- 音乐播放器 -->
        <div class="audio-div">
            <div class="audio-state">
                <a id="audio-lock"></a>
            </div>
            <div class="audio-component opacity-active display-active">
                <!-- 音乐标签 -->
                <audio src="/music/IU - 夜信.mp3" data-index="0"></audio>
                <div class="audio-center">
                    <!-- 控制 -->
                    <div class="audio-controls">
                        <button class="controls-style" id="controls-prv" title="上一首" style="background:url(/icon/music/prv.png)" data-index="0"></button>
                        <button id="controls-play" title="播放/暂停" style="background:url(/icon/music/play.png)" data-index="0"></button>
                        <button class="controls-style" id="controls-nxt" title="下一首" style="background:url(/icon/music/nxt.png)" data-index="0"></button>
                    </div>
                    <!-- 缩略图 -->
                    <div class="audio-img">
                        <img src="/img/music/夜信.jpg"/>
                    </div>
                    <!-- 详细信息 -->
                    <div class="audio-progress">
                        <!-- 歌曲信息 -->
                        <div class="audio-info" data-index="0">
                            <span id="info-music"></span>
                            <span>&nbsp;-&nbsp;</span>
                            <span id="info-singer"></span>
                        </div>
                        <!-- 进度条控制 -->
                        <div class="play-progress-div">
                            <div class="play-progress">
                                <span id="play-bar"></span>
                                <div id="play-control"></div>
                            </div>
                        </div>
                        <!-- 时间显示 -->
                        <div class="progress-time">
                            <span id="progress-ct">--:--</span>
                            <span>/</span>
                            <span id="progress-dt">--:--</span>
                        </div>
                    </div>
                    <!-- 播放器功能 -->
                    <div class="audio-other">
                        <button class="other-style" title="音量" id="audio-volume" style="background:url(/icon/music/vol.png)" data-index="0"></button>
                        <button class="other-style" title="循环" id="audio-loop" style="background:url(/icon/music/loop.png)" data-index="0"></button>
                        <button class="other-style" title="列表" id="audio-list" style="background:url(/icon/music/list.png)" data-index="0"></button>
                        <!-- 播放列表 -->
                        <div class="audio-list-div opacity-active display-active">
                            <ul style="list-style-type: none">
                            </ul>
                        </div>
                        <!-- 音量控制 -->
                        <div class="audio-volume-div opacity-active display-active">
                            <div class="volume-progress">
                                <span id="volume-bar"></span>
                                <div id="volume-control"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/tools.js"></script>
        <!-- canvas 动画 -->
        <script src="/js/canvas.js"></script>
        <!-- JS 博客 -->
        <script src="/js/assist.js"></script>
        <script src="/js/blog.js"></script>
        <script src="/js/aside.js"></script>
        <script src="/js/person.js"></script>
        <!-- JS 播放器 -->
        <script src="/js/music/animations.js"></script>
        <script src="/js/music/state.js"></script>
        <script src="/js/music/buffer.js"></script>
        <script src="/js/music/controls.js"></script>
        <script src="/js/music/progress.js"></script>
        <script src="/js/music/choice.js"></script>
        <script src="/js/music/volume.js"></script>
        <script src="/js/music/loop.js"></script>
        <script src="/js/music/music.js"></script>
    </body>
</html>
