.aside-inner {
    position: relative;
    margin: 50px 10px;
    width: 300px;
}
.aside-logo {
    position: relative;
    width: 250px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
}
.aside-logo img {
    position: relative;
    width: 170px;
    height: 170px;
    margin: 10px auto;
    border-radius: 50%;
}
.aside-info {
    position: relative;
    height: 70px;
    margin: 30px auto;
}
.aside-info span {
    position: relative;
    color: #A8A8A8;
    bottom: 10px;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.info-item {
    position: relative;
    display: inline-block;
    padding: 0 15px;
    text-align: center;
}
.info-item a {
    line-height: 1.4;
    font-size: 16px;
    font-weight: bold;
    cursor: default;
    text-decoration: none;
    color: #A8A8A8;
}
.aside-about {
    position: relative;
    height: 100px;
    margin: 30px auto 0;
    text-align: center;
}
.aside-about a {
    font-size: 13px;
    margin: 0 10px;
    line-height: 1.4;
    cursor: default;
    text-decoration: none;
    color: #A8A8A8;
}
.aside-about img {
    position: relative;
    width: 13px;
    height: 13px;
    top: 1px;
    margin: 0 3px 0 0;
}

.goto-top {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 350px auto 0;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px white;
}

.goto-top:hover {
    animation-name: shake;
    animation-duration: 0.8s;
}
