body {
    margin: 0;
    padding: 0;
    font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
    background: linear-gradient(to left bottom, #A1CFE4, #DFC388);
}
main {
    position: relative;
    margin-right: 620px;
}
.inner {
    position: relative;
    background: linear-gradient(to left bottom, #A1CFE4, #DFC388);
    margin: 30px;
    border: 2px solid white;
}
header {
    position: relative;
    height: 90px;
    width: 100%;
}
section {
    position: relative;
    width: 85%;
    margin: 50px auto;
}
.foot {
    position: relative;
    width: 85%;
    margin: 0 auto 0;
    height: 100px;
    line-height: 2;
    color: #404040;
    bottom: 0;
}
aside {
    position: fixed;
    width: 320px;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
}
.list-div {
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0;
    right: 320px;
}

.body-trans2 {
    transition: 0.2s;
}
.body-style2 {
    background: #B9CBC2;
}

.main-style2 {
    margin-right: 320px;
}

.inner-style2 {
    background: white;
}
.header-style2 {
    background: #E8E8E8;
}
.animation-bubbling2 {
    animation-name: bubbling2;
    animation-duration: 0.2s;
}
