.photo-head {
    position: relative;
    font-size: 26px;
}

.photo-head-style {
    color: #999999;
    font-size: 26px;
}

.photos-div {
    position: relative;
    color: #404040;
    margin: 40px 0;
}

.photo-time-p {
    font-size: 18px;
    line-height: 2;
}

.photo {
    position: relative;
    display: inline-block;
    margin: 40px 10px 40px 0;
    width: 180px;
}

.photo-img {
    display: inline-block;
    width: 180px;
    height: 180px;
}

.photo-line {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    border-bottom: 2px dashed #999999;
    transition: all 0.6s;
}

.photo-line-hover {
    width: 70%;
}
